body{
    background-color: black;
}

.parent{
    display: flex;
    margin: auto;
    width: 300px;
    max-height: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.parent div{
    width: 100px;
    height: 100px;
    margin: 10px;
}

@keyframes glowred {
    from{box-shadow: 2px 2px 5px red;}
    to{box-shadow: 2px 2px 10px 10px red;}
}

@keyframes glowblue {
    from{box-shadow: 2px 2px 5px blue;}
    to{box-shadow: 2px 2px 10px 10px blue;}
}

@keyframes glowyellow {
    from{box-shadow: 2px 2px 5px yellow;}
    to{box-shadow: 2px 2px 10px 10px yellow;}
}

@keyframes glowgreen {
    from{box-shadow: 2px 2px 5px green;}
    to{box-shadow: 2px 2px 10px 10px green;}
}

.block1{
    background-color: red;
    animation-name: glowred;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.block2{
    background-color: blue;
    animation-name: glowblue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.block3{
    background-color: yellow;
    animation-name: glowyellow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.block4{
    background-color: green;
    animation-name: glowgreen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}